<!-- src/app/app.component.html -->
<div class="p-5 dark:bg-slate-800">
    <h1 class="text-xl text-white">Bienvenue dans l'application Pokémon</h1>
    <div>
        <label for="first_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nombre</label>
        <input #input (keyup.enter)="selectPokemon(input.value)" type="number" id="first_name"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="" required />
    </div>

    <p *ngIf="pokemonSelected" class="mt-5 mb-3 text-gray-500 dark:text-gray-400">Vous avez selectionné le pokemon: {{
        pokemonSelected?.name }}</p>

    <p *ngIf="!pokemonSelected" class="mt-5 mb-3 text-gray-500 dark:text-gray-400">Aucun pokemon trouvé</p>



    <div class="relative overflow-x-auto">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Noms
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Puissance
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Vitesse
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pokemon of pokemonList" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        {{pokemon.name}}
                    </th>
                    <td class="px-6 py-4">
                        {{pokemon.hp}}
                    </td>
                    <td class="px-6 py-4">
                        {{pokemon.cp}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>